.mainPage {
  padding-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-top: 10px;
}

.genres_form {
  height: 120px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #fdce25 #353535
}