.movie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  padding-bottom: 20px;
  height: calc(100vh - 48px);
}

.movie_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.movie_data {
  padding-top: 20px;
}

.movie_data h2 {
  color: #fdce25;
  font-size: 35px;
  font-weight: 500;
}

.movie_info {
  margin-top: 15px;
  display: flex
}

.movie_info_genre {
  display: inline-block;
  background-color: #ffffff;
  color: #1c1c1c;
  font-weight: 500;
  border-radius: 8px;
  height: 30px;
  line-height: 20px;
  padding: 5px;
  margin-right: 8px
}

.movie_year, .movie_rating {
  display: flex;
  line-height: 22px;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}

.movie_rating {
  margin-left: 10px;
}

.svg {
  height: 20px
}

.description {
  margin-top: 25px;
  font-size: 18px;
}

.favorites {
  margin-top: 15px;
  background-color: #fdce25;
  border-radius: 8px;
  height: 40px;
  border: none;
  font-size: 18px;
  padding: 5px;
  font-weight: 500;
  cursor: pointer
}